* {
    margin: 0;
    padding: 0;
    
}
    
body {
  background-color: #F0F3F4 ;


}

/* text styles */

p, h1, h2, h3, h4, h5, h6 {
  font-family: "europa", sans-serif;
  line-height: 1.4em;
  letter-spacing: .063rem;

}

h1 {
  font-weight: 700;
  color: #fff;
  font-style: normal;
  font-size: 2.375rem;

}

h2 {
  font-weight: 700;
  color: #1B1C20;
  font-style: normal;
  font-size: 1.875rem;

}

h3 {
  font-weight: 700;
  color: #1B1C20;
  font-style: normal;
  font-size: 1.5rem;

}

h4 {
  font-weight: 400;
  color: #1B1C20;
  font-style: italic;
  font-size: 1.25rem;

  }

p {
  font-weight: 400;
  color: #1B1C20;
  font-style: normal;
  font-size: 1.125rem;  

}

/* nav header desktop */

.header {
  background-color:#324755;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  
  }
  


.logo-container {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo {
  height: 44px;
  padding-left: 10px;
  cursor: pointer;
}


.logo:hover {
  color:white;

}

.nav-links {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 20px;
  color: white;
  text-decoration: none;
 
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-links {
    display: none;
   }
  }


.nav-links a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .063rem;
  text-decoration: none;
  font-family: "europa", sans-serif;

}


.nav-links a:hover {
  color:#C8D1D3;
}
    

.nav-element {
  cursor: pointer;
  padding: 10px 30px;

}

/* mobile menu */

.hamburger-right-mobile {
  display: none;
  padding-right: 10px;
  cursor: pointer;

}

@media (max-width: 768px) {
  .hamburger-right-mobile {
    display: block;
  }
}


.hamburger {
  height: 36px;
  fill: white;
  padding-right: 10px;

}


.side-menu-position {
  padding-top: 25px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}


.side-menu-design {
  background-color: #324755;
  background-size: 1300px 700px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: 0.4s ease-in-out;
  
}

.side-menu-header {
  border-bottom: 1px solid rgba(255,255,255,.1); 
  display: flex;
  justify-content: space-between;
  padding: 0 25px 25px 25px;  
}


.side-menu-content {
  color: #fff;
  font-family: "europa", sans-serif;
  font-size: 20px;
  margin: 25px;
  padding-left: 0; 
}


.side-menu-content li {
  list-style: none;
  margin-bottom: 25px;

}


.menuLink {
  color: #fff;
  font-family: "europa", sans-serif;
  font-size: 20px;
  padding-left: 0;
  list-style: none; 
  text-decoration: none;
}



.show-menu {
  opacity: 1;
  transform: translateX(0%);
}

/* hero section */

.hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./Images/Hero\ Home.jpeg);
    background-size: cover;
    height: 400px;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
  
  }

.hero-banner-text {
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  width: 600px;
  padding: 10px;
  
}

.banner-subtext {
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  font-weight: 200;
}

.clouds {
  position: absolute;
  background-position: center; 
  height: 400px;
  width: 100vw;
  background: url(./Images/cloud.png);
  animation: animate 60s linear infinite;

}

@keyframes animate {
 0% {
     background-position: 0px;
 }
 100% {
     background-position: 5440px;
 }
}

.inspiration-box {
  background-color:#324755;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

@media (min-width: 320px) and (max-width: 400px) {
  .inspiration-box {
    height: 80px; 
    text-align: center;
  }
}


.quote p {
  color: white;
  font-style: italic;
  font-size: 18px;
  font-weight: lighter;

}

/* main section */

.peaks-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 2em;

}

@media (min-width: 320px) and (max-width: 400px) {
  .peaks-header-text  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .peaks-header-text p {
    text-align: center;
    white-space: nowrap;
    
  }
}

/* need media queries */
.main-section {
  margin-left: 80px;
  margin-right: 80px;

}

/* grid section container */
.section-container {
  width: 100vw;
  display: flex;
  justify-content: center;

}

/* Grid  */
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 60px;

}

/* mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: 300px;
    row-gap: 30px;
  
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 60px;
  
  }
}

/* flip cards */
/* media query for mobile to make card smaller */
.flip-card-container {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 0 auto;

}

.flip-card.flip {
  transform: rotateY(180deg);

}

.flip-card-container {
  cursor: pointer;
  transform: translate3D(0,-1px,0) scale(1.03);

}

.flip-card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;

}


.flip-card-front {
  background-color: white;
  transition: all .5s ease;
 
}

.flip-card-front:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .5s ease;
  cursor: pointer;
}

.flip-card-front p {
  display: flex;
  justify-content: center;
  align-items: center;

}

.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);

  
}

.front-card-image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

/* Card details */

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #1B1C20;
  margin-top: 16px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  

  }
  .card-title-back {
    font-size: 16px;
    font-weight: bold;
    color: #1B1C20;
    margin-top: 16px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;

  }


.region {
    font-size: 10px;
    color: #5f6b72;
    margin-bottom: 10px;
 
  }

  .ranking {
    font-size: 10px;
    color: #5f6b72;
   
  }


  .card-list-title {
    font-size: 13px;
    color: #1B1C20;
    font-weight: 300;
    padding-right: 6px;

  }

  .a-padding{
    padding-bottom: 10px;
  }


  .card-list-details {
    font-size: 13px;
    color: #456A82;
    font-weight: 300;
    letter-spacing: 1px;
    
  }


  .details-padding {
    padding-top: 10px;

  }


.line-item-a {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  padding-left: 20px;

}

.card-list-link {
  /* display: block; */
  font-family: "europa", sans-serif;
  font-size: 13px;
  color: green;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-right: 10px;

}

.card-list-link:hover {
  text-decoration: underline;

}

.photo-credit {
  color: #4c74b9;

}

/* icon styles */

.fal {
  size: 20px;
  color: #D97D54;
  padding-right: 10px;
  /* padding-left: 30px; */
  text-align: center;
  position: relative;
  top: 2px;

}

.square-rotate {
  transform: rotate(45deg);
  padding-top: 3px;
  top: 2px;

}

.mountain-icon {
  z-index: 1;
  position: fixed;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  top: 160px;
  left: 115px;
  /* transform: translate3d(0,0,0);  */

}


/* footer */


.site-footer {
  width: 100vw;  
  background-color:#324755;
  font-size: 15px;
  line-height: 24px;
  color:white;
  margin-top: 60px;

}


.site-footer { 
    display: flex;
    flex-direction: column;
  
  }

  /* work in progress */
  @media only screen and (min-width: 768px) {
    .site-footer {
      flex-direction:row;
      justify-content: space-around;
    }
  }
  
 

.left-footer-container {
  padding: 20px;
  text-align: center;
  align-content: center;
  justify-content: center;

}


@media only screen and (min-width: 768px) {
  .left-footer-container {
    max-width: 60%;
    text-align: left;
 
  }
}


.right-footer-container {
  padding: 20px;
  text-align: center;
  align-content: center;
  justify-content: center;

}


.right-footer-container p {
    padding-bottom: 10px;
    padding-top: 10px;
    color:#fff;
    font-size: 16px;

}


.h3-about {
  padding-bottom: 10px;
  color: #fff;  
}

.footer-text {
  color:#C8D1D3;
  font-size: 15px;  
}


.list-link-footer {
  font-family: "europa", sans-serif;
  font-size: 1.rem;
  color:#D97D54;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;

}

.list-link-footer:hover {
  text-decoration: underline;

}


.social-icons {
  list-style: none;
  
}

.social-icons a.facebook:hover {
  background-color:#3b5998

}


.social-icons a.linkedin:hover {
  background-color:#00aced

}


.social-icons a.email:hover {
  background-color:#87BCBF

}


.social-icons li {
  display:inline-block;
  padding: 10px;   

}


.social-icons a {
    background-color: #D97D54;
    color: white;
    font-size:14px;
    display:inline-block;
    line-height:28px;
    width:26px;
    height:26px;
    text-align:center;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    
  }


  
  